body {
	font-family: monospace;
}

.card {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 200px;
	border: 2px solid #555;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
	position: relative;
}

.spacer {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 200px;
	border: 1px dashed #555;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
	position: relative;
}

.spacer-over {
	border: 2px solid #555;
	width: 150px;
}

.timeline {

}

.when {
	position: absolute;
	bottom: 5px;
	right: 5px;
}